<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Tipo de Evento</title>
</head>
<body>
  <h1>Selecciona el Tipo de Evento</h1>
  <form id="eventForm" action="/generar-pdf" method="post">
    <label for="tipoEvento">Tipo de Evento:</label>
    <select id="tipoEvento" name="tipoEvento">
      <% opciones.forEach(opcion => { %>
        <option value="<%= opcion %>"><%= opcion %></option>
      <% }); %>
    </select>
    <br>
    <label for="nombreCliente">Nombre:</label>
    <input type="text" id="nombreCliente" name="nombreCliente" required>
    <br>
    <label for="telefonoCliente">Teléfono:</label>
    <input type="tel" id="telefonoCliente" name="telefonoCliente" required pattern="[0-9]{10}">
    <br>
    <label for="correoCliente">Correo:</label>
    <input type="email" id="correoCliente" name="correoCliente" required>
    <br>
    <input type="text" id="nuevaOpcion" name="nuevaOpcion" placeholder="Agregar nueva opción">
    <button type="button" onclick="agregarOpcion()">Agregar</button>
    <br>
    <label for="fechaEvento">Fecha:</label>
    <input type="date" id="fechaEvento" name="fechaEvento">
    <br>
    <label for="numAdultos">Número de Adultos:</label>
    <input type="number" id="numAdultos" name="numAdultos" min="0">
    <br>
    <label for="numNinos">Número de Niños:</label>
    <input type="number" id="numNinos" name="numNinos" min="0">
    <br>
    <button type="submit">Generar PDF</button>
  </form>

  <script>
    function agregarOpcion() {
      var nuevaOpcion = document.getElementById('nuevaOpcion').value;
      if (!nuevaOpcion.trim()) {
        alert("La nueva opción no puede estar vacía");
        return;
      }

      // Enviar la nueva opción al servidor
      fetch('/agregar-opcion', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ nuevaOpcion: nuevaOpcion })
      })
      .then(response => {
        if (response.ok) {
          var select = document.getElementById('tipoEvento');
          var option = document.createElement('option');
          option.value = nuevaOpcion;
          option.text = nuevaOpcion;
          select.add(option);

          // Seleccionar la nueva opción
          select.value = nuevaOpcion;

          // Limpiar el campo de texto
          document.getElementById('nuevaOpcion').value = '';
          alert("Opción agregada exitosamente");
        } else {
          alert("Error al agregar la opción");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert("Error al agregar la opción");
      });
    }
  </script>
</body>
</html>
